* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

main {
  height: 500px;
  width: 500px;
  background-color: bisque;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#sort {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#sort:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#sort:active {
  background-color: rgba(0, 0, 0, 0.3);
}

#super-heroe {
  height: 380px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#super-heroe-img {
  height: 350px;
  width: 350px;
  border-radius: 10px;
}
